@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fdfef1;
}

section {
  margin-bottom: 100px;
}

img {
  width: 100%;
}

h3 {
  color: #0c223b;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
}

p {
  color: #0a6375;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

hr {
  background-image: linear-gradient(
    90deg,
    rgba(18, 36, 57, 0) 2%,
    #0f1111 54%,
    rgba(93, 129, 195, 0) 100%
  );
  border: 2px solid #02111b;
}

.btn {
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  height: 58px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-border {
  border: 1px solid #92b9ba;
  width: fit-content;
  display: inline-block;
  padding: 4px;
  border-radius: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn img {
  width: auto;
  height: 20px;
  margin-left: 0px !important;
  margin-right: 5px;
}

.btn-info {
  border-radius: 12px;
  background-image: linear-gradient(90deg, #558cde 0%, #121538 100%);
}

.btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-discord {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../img/button/discord.png);
  background-size: 100% 100%;
}

.btn-discord:hover {
  background: url(../img/button/discord_hover.png);
  background-size: 100% 100%;
}

.btn-twitter {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../img/button/twitter.png);
  background-size: 100% 100%;
}

.btn-twitter:hover {
  background: url(../img/button/twitter_hover.png);
  background-size: 100% 100%;
}

.btn-insta {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../img/button/insta.png);
  background-size: 100% 100%;
}

.btn-insta:hover {
  background: url(../img/button/insta_hover.png);
  background-size: 100% 100%;
}

.btn-mint {
  margin-left: 20px;
  margin-right: 20px;
  background: url(../img/button/mint.png);
  background-size: 100% 100%;
}

.btn-mint:hover {
  background: url(../img/button/mint_hover.png);
  background-size: 100% 100%;
}

#header {
  margin: 0px;
  background-color: #fdfef1 !important;
}

#header .navbar {
  padding-top: 1rem;
  background-color: #fdfef1 !important;
}

#header .navbar > div {
  align-items: center;
}

#header .logo {
  width: auto;
  height: 50px;
}

#header .navbar-right {
  flex-direction: row !important;
  align-items: center;
}

#header .navbar ul > li > a > img {
  width: 30px;
  margin-left: 20px;
}

#mint {
  margin-left: 30px;
}

#mint img {
  margin-right: 10px;
}

#collection .gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#collection .gallery .item {
  width: 20%;
  padding: 5px;
}

#collection p {
  font-weight: 400;
}

#rarity img {
  margin-top: -40px;
}

#roadmap img {
  margin-top: 40px;
}

#team .members > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#team .member {
  width: 334px;
  min-width: 200px;
  margin: 10px;
  padding-top: 15px;
  text-align: center;
  border-radius: 38px;
  background-image: linear-gradient(0deg, #47cbf3 0%, #5d81c3 100%);
  box-shadow: 10px 11px 85px -35px black;
}
#team .member h5,
#team .member p,
#team .member span {
  color: white;
}

#team .member > img {
  border-radius: 38px;
  margin-top: -85px;
}

#team .member .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
}

#team .member .social > a {
  z-index: 10000;
}

#team .member .social > a > img {
  width: inherit;
  margin-bottom: 10px;
}

#team .experts .member {
  background-image: linear-gradient(0deg, #ff833b 0%, #ff5c1e 100%);
}

#faq .content {
  align-items: center;
}

#footer {
  margin-bottom: 10px;
}

#footer > div > a > img {
  width: 40px;
}

#footer .final-footer {
  margin-top: 40px;
}

#footer p {
  color: #0c223b;
}

#rarity {
  margin-bottom: 10px;
}

#join {
  margin-right: 30px;
  margin-left: 30px;
}

#follow {
  margin-left: 50px;
  margin-bottom: 50px;
}

#crown h3 {
  font-size: 36px;
}

#crown p {
  font-size: 21px;
  font-weight: 400;
}

#roadmap p {
  font-size: 24px;
  font-weight: 400;
}

.accordion-button {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  color: #182d43 !important;
  background-color: #ddddcc !important;
}

.accordion-item {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  margin-bottom: 10px;
  color: #182d43 !important;
  background-color: #ddddcc !important;
}

.accordion-body {
  padding: 10px 30px;
}

.final-footer p {
  font-size: 18px;
  font-weight: 400;
}

.accordion-item,
.accordion-header,
.accordion-button {
  border-radius: 10px !important;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed)::before {
  background-image: url(../img/icons/minus.png);
  transform: rotate(-180deg);
}

.accordion-button::before {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 5px;
  content: "";
  background-image: url(../img/icons/plus.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #rarity img {
    margin-top: 40px;
  }
}
